:root {
   /*accent*/
   --color-accent: #f8346b;

   /*danger*/
   --color-danger-300: #fb85a6;
   --color-danger-500: #f73636;

   /*warning*/
   --color-warning: #737067;

   /*info*/
   --color-info: #3677f7;

   /*light*/
   --color-light-100: #ffffff;
   --color-light-300: #fcfbfb;
   --color-light-500: #faf7f8;
   --color-light-700: #dedbdc;
   --color-light-900: #adabac;

   /*dark*/
   --color-dark-100: #797476;
   --color-dark-500: #1a1718;
   --color-dark-700: #0d0c0b;
   --color-dark-900: #000000;
}
